.logo{
 height: 100px   ;
 border-radius:50%;
}
.nav-link{
    color:white;
    
}
.card{
    width: 250px;
    margin-left: 30PX;
    margin-top: 30px;
    height: 300px;
    overflow: hidden;
    display: flex;
border-radius: 10px;
    
}
.card:hover{
    
    box-shadow: 5px 5px rgb(208, 205, 205); 
    cursor: pointer;
}
.cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
       margin-left: 30px;
       margin-top: 30px;
       margin-bottom: 30px;
}
.card-img-top{
    height: 150px;
}

.footer{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.footer-ul1,.footer-ul2{
    color: white;
    list-style-type: none;
    margin-left: 20px;
    
}
.info{
    color: white;
}
.card-text{
    margin-top: 1px;
    margin-bottom: 1px;
    
}
.card-title{
    margin-bottom: 1px;
}
.cui{
    display: flex;
    flex-direction:row;

}
.spoon{
    margin-top: 5px;
}
.menulist{
    display:inline;
    flex-wrap: wrap;
    height: 150px;
}
.menu_img{
    width: 200px;
    height:100px;
    object-fit: contain;
    /* border: 2px solid black;  */

}
.menu_card{
    display: flex;
    flex-wrap: wrap;
     border: 2px solid black; }
.cart{
    margin-top: 20px;
    margin-bottom: 20px;
width: 500px;
height:auto;
border: 2px solid black;
border-radius: 5px;
     }
 .outcart{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  
    ;
    
 }    
.eachitem{
    display:flex;
    flex-flow:row;
    justify-content: space-between;
    height: 50px;
    padding:10px
    
}
.pbtn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

